<!DOCTYPE html>
{% extends "base.html" %}
<html>
<body>
{% block content %}
<header class=”header”>
    <h1>Hey, boy! Your exercises run is started now!</h1>
    <p align="left">Current time: {{ start_time }}</p>
</header>
<div class=”content”>
    <form method="POST">
        <p> {{ form.level.label }}: {{ form.level }} </p>
        <p> {{ form.game_type.label }}: {{ form.game_type }}</p>
        <p> {{ form.start }} </p>
    </form>
</div>
{% endblock %}

<footer class=”footer”>
</footer>
</body>
</html>