<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word Game</title>
</head>
<body>
<header class=”header”>
    <h2>Task: {{ form.task }}</h2>
</header>
<div class=”content”>
    <form method="POST">
    {% block content %}
        <p> {{ form.missed_letter.label }}: {{ form.missed_letter }} </p>
        <p> {{ form.next }}</p>
    {% endblock %}
    {% macro task_id(task_id) %}Task_id {{ task_id }}!{% endmacro %}
    </form>
</div>


<footer class=”footer”>
</footer>
</body>
</html>