<!DOCTYPE html>
{% extends "base.html" %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Word Game</title>
</head>
<body>
<header>
    <h3>Time mined by playing current game: {{ play_time }}</h3>
</header>
    {% block content %}
        <h2>Task: {{ form.task }}</h2>
        <div class=”content”>
        <form method="POST">
            <p> {{ form.missed_letter.label }}: {{ form.missed_letter }} {{ form.next }}</p>
        </form>
        </div>
    {% endblock %}
<footer class=”footer”>
</footer>
</body>
</html>